* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 48px;
}

body{
    background-color: rgb(240, 239, 239);
}

hr{
    color: gray;
    width: 100%;
}

th{
    background-color: rgb(252, 71, 96);  
    padding: 15px;
}

table{
    background-color: rgb(255, 207, 207);
    text-align: center;
    text-justify: left;
    border-collapse: collapse;
    width: 820px;
    height: 100px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
}

tbody tr{
    border-bottom: 1px solid;
}

thead{
    color: white;
}

button{
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color:rgb(252, 71, 96);
    border: solid 2px black;
}

.superbox{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50vh;
}

.NEWUSER{
    margin-bottom: 20px;
}