* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1{
    display: inline-block;
    gap: 20%;  
    border: solid red 4px;
}

.box2{
    display: inline-block;
    gap: 20%; 
    border: solid red 4px; 
}

th{
    background-color: blueviolet;  
    padding: 15px;
}

table{
    text-align: center;
    text-justify: left;
    border-collapse: collapse;
    width: 820px;
    height: 100px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
}

thead{
    color: white;
}

button{
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color:blueviolet;
    border: solid 3px black;
}

.superbox{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50vh;
    border: solid red 4px;
}